.dart_tool/
.packages
pubspec.lock

.bundle
_site

build/
**/ios/.generated/
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*

charts_flutter/coverage/

charts_flutter/.DS_Store

charts_flutter/test/failures/

charts_flutter/test/widget_tests/failures/

charts_flutter/test/example_widget_tests/failures/

charts_flutter/test/.DS_Store

charts_common/coverage/

charts_common/.DS_Store

charts_common/test/chart/.DS_Store
